h1 a {
	color: #FCA205;
	font-family: 'Cherry Swash';
}

body {
	padding-left: 0px;
}

.page-header {
	position: fixed;
	width: 100%;
	/*height: 120px;*/
	background-color: #CBDFF3;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	padding: 20px 20px 20px 40px;
	z-index: 9999;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
	color: #ffffff;
	font-size: 36pt;
	text-decoration: none;
}

.content {
	margin-left: 0;/*40px;*/
	margin-right: 0;
	position: relative;
	top: 200px;
	/*z-index: -1;	/*por algum motivo, isso tá impedindo a seleção de texto e a ativação dos links*/
}


h1, h2, h3, h4 {
	font-family: 'Cherry Swash', cursive;
}

.date {
	color: #828282;
	display: inline;
}

.save {
	float: right;
}

.post-form textarea, .post-form input {
	width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
	color: #ffffff;
	float: right;
	font-size: 26pt;
	margin-right: 20px;
	padding-top: 20px;
}

.post {
	margin-bottom: 20px;
	background-color: #E5FAFF;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
    border-radius: 40px 10px;
}

.post h1 a, .post h1 a:visited {
	color: #000000;
}

.post_header {
	float: right;
}

.header-btns {
	margin-right: 0;
	margin-left: 50;
}

#edit-btn{
	display: inline;
}
